$breakpoints: (
	es: 360px,
	//extra small
	mn: 414px,
	//mini
	lt: 520px,
	//little
	sm: 640px,
	//small
	md: 768px,
	//middle
	lg: 1024px,
	//large
	xl: 1280px,
);

// colors
$main-green: rgb(142, 212, 68);
$dark-green: rgb(0, 179, 0);
$bg-green: #8ed44424;
$dark-grey: #484848;
